@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: "Fira Code", monospace;
  --font-secondary: "Work Sans", sans-serif;

  --color-bg-primary: #121212;
  --color-bg-secondary: #242424;
  --color-text-primary: #E0E0E0;
  --color-text-secondary: #A1A1A1;
  --color-accent: #00BCD4;
  --color-code: #8BC34A;
}
